<nav class="navbar is-transparent py-2" style="border-bottom: 1px solid #f0f0f0;">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
                <span class="color-cn-red">Ch</span><span class="color-coffee inglish-style">inglish</span>
                <img src="/images/papercut.png" alt="Chinglish Cafe Emblem" class="logo-icon-dot-nav">
                <span class="color-coffee">Cafe</span>
            </a>
        </div>
        <div class="navbar-menu is-active" style="box-shadow: none;">
            <div class="navbar-end">
                <a href="/" class="navbar-item has-text-grey has-text-weight-semibold">
                    &larr; Home
                </a>
                <a href="/gallery/" class="navbar-item has-text-grey has-text-weight-semibold">
                    📸 Gallery
                </a>
                <a href="/english-from-china/" class="navbar-item has-text-grey has-text-weight-semibold">
                    📜 English from China
                </a>
            </div>
        </div>
    </div>
</nav>